SaveWorld/SaveWorldWPFClient/Connected Services/UserService/SaveWorldModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaveWorldModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaveWorldModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfUser" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserB" nillable="true" type="tns:UserB" />
  <xs:complexType name="ArrayOfUserB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserB" nillable="true" type="tns:UserB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserB" nillable="true" type="tns:ArrayOfUserB" />
</xs:schema>