SaveWorld/SaveWorldWPFClient/Connected Services/OrderServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDates" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrderLine_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderLine" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrderLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderLineResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_RemoveOrderLine_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOrderLine" />
  </wsdl:message>
  <wsdl:message name="IOrderService_RemoveOrderLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOrderLineResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetDates" message="tns:IOrderService_GetDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetDatesResponse" message="tns:IOrderService_GetDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrderLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddOrderLine" message="tns:IOrderService_AddOrderLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddOrderLineResponse" message="tns:IOrderService_AddOrderLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOrderLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/RemoveOrderLine" message="tns:IOrderService_RemoveOrderLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/RemoveOrderLineResponse" message="tns:IOrderService_RemoveOrderLine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDates">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderLine">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddOrderLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOrderLine">
      <soap:operation soapAction="http://tempuri.org/IOrderService/RemoveOrderLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:8080/SaveWorldService/OrderService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>