SaveWorld/SaveWorldWPFClient/Connected Services/OrderLineService/SaveWorldModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaveWorldModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaveWorldModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderLineId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderLine" nillable="true" type="tns:OrderLine" />
</xs:schema>