SaveWorld/SaveWorldWPFClient/Connected Services/BankAccountService/SaveWorldModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaveWorldModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaveWorldModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BankAccountB">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountNo" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CCV" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountB" nillable="true" type="tns:BankAccountB" />
</xs:schema>