SaveWorld/SaveWorldWPFClient/Connected Services/BankAccountService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SaveWorldModel" />
  <xs:element name="GetBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SaveWorldModel" minOccurs="0" name="GetBankAccountResult" nillable="true" type="q1:BankAccountB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SaveWorldModel" minOccurs="0" name="GetBankAccountByIdResult" nillable="true" type="q2:BankAccountB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accNo" type="xs:int" />
        <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CCV" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBankAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="donateToSpecificDisaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SaveWorldModel" minOccurs="0" name="userBankAcc" nillable="true" type="q3:BankAccountB" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SaveWorldModel" minOccurs="0" name="disasterBankAcc" nillable="true" type="q4:BankAccountB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="donateToSpecificDisasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="donateToSpecificDisasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SaveWorldModel" minOccurs="0" name="bankAccountBefore" nillable="true" type="q5:BankAccountB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="donateMoneyToAllDisasters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="userBankId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="donateMoneyToAllDisastersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="donateMoneyToAllDisastersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>