SaveTheWorldWebsite/SaveTheWorldWebsite/Connected Services/ServiceReferenceOrderLine/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SaveWorldService/OrderLineService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SaveWorldModel" />
  <xs:element name="CreateOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SaveWorldModel" minOccurs="0" name="newOrderLine" nillable="true" type="q1:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SaveWorldModel" minOccurs="0" name="CreateOrderLineResult" nillable="true" type="q2:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrderLineAndReturnStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idToRemoveOrderLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrderLineAndReturnStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveOrderLineAndReturnStockResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SaveWorldModel" minOccurs="0" name="orderLine" nillable="true" type="q3:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>