SaveTheWorldWebsite/SaveTheWorldWebsite/Connected Services/ServiceReferenceBankAcc/BankAccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankAccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/SaveWorldService/BankAccountService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/SaveWorldService/BankAccountService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/SaveWorldService/BankAccountService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SaveWorldModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankAccountService_GetBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccount" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_GetBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_GetBankAccountById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountById" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_GetBankAccountById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_CheckBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckBankAccount" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_CheckBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_donateToSpecificDisaster_InputMessage">
    <wsdl:part name="parameters" element="tns:donateToSpecificDisaster" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_donateToSpecificDisaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:donateToSpecificDisasterResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_donateMoneyToAllDisasters_InputMessage">
    <wsdl:part name="parameters" element="tns:donateMoneyToAllDisasters" />
  </wsdl:message>
  <wsdl:message name="IBankAccountService_donateMoneyToAllDisasters_OutputMessage">
    <wsdl:part name="parameters" element="tns:donateMoneyToAllDisastersResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankAccountService">
    <wsdl:operation name="GetBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/GetBankAccount" message="tns:IBankAccountService_GetBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/GetBankAccountResponse" message="tns:IBankAccountService_GetBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/GetBankAccountById" message="tns:IBankAccountService_GetBankAccountById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/GetBankAccountByIdResponse" message="tns:IBankAccountService_GetBankAccountById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/CheckBankAccount" message="tns:IBankAccountService_CheckBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/CheckBankAccountResponse" message="tns:IBankAccountService_CheckBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="donateToSpecificDisaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/donateToSpecificDisaster" message="tns:IBankAccountService_donateToSpecificDisaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/donateToSpecificDisasterResponse" message="tns:IBankAccountService_donateToSpecificDisaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/Update" message="tns:IBankAccountService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/UpdateResponse" message="tns:IBankAccountService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="donateMoneyToAllDisasters">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountService/donateMoneyToAllDisasters" message="tns:IBankAccountService_donateMoneyToAllDisasters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountService/donateMoneyToAllDisastersResponse" message="tns:IBankAccountService_donateMoneyToAllDisasters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankAccountService" type="tns:IBankAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBankAccount">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/GetBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountById">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/GetBankAccountById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBankAccount">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/CheckBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="donateToSpecificDisaster">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/donateToSpecificDisaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="donateMoneyToAllDisasters">
      <soap:operation soapAction="http://tempuri.org/IBankAccountService/donateMoneyToAllDisasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankAccountService">
    <wsdl:port name="BasicHttpBinding_IBankAccountService" binding="tns:BasicHttpBinding_IBankAccountService">
      <soap:address location="http://localhost:8080/SaveWorldService/BankAccountService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>