SaveWorld/SaveWorldWPFClient/Connected Services/ProductService/SaveWorldModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaveWorldModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaveWorldModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductB" nillable="true" type="tns:ProductB" />
  <xs:complexType name="ArrayOfProductB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductB" nillable="true" type="tns:ProductB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductB" nillable="true" type="tns:ArrayOfProductB" />
</xs:schema>