SaveWorld/SaveWorldWPFClient/Connected Services/DisasterReferences/SaveWorldModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaveWorldModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaveWorldModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDisasterB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisasterB" nillable="true" type="tns:DisasterB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisasterB" nillable="true" type="tns:ArrayOfDisasterB" />
  <xs:complexType name="DisasterB">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisasterBankAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="DisasterId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Victims" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisasterB" nillable="true" type="tns:DisasterB" />
</xs:schema>